<div
  *ngIf="boards$ | async as boards"
  class="flex flex-col items-center mt-8 w-full"
>
  <div class="w-full px-6 overflow-auto h-[80vh]">
    <div class="flex space-x-4 overflow-x-auto h-full">
      <app-column
        *ngFor="let column of boards[0]?.columns"
        [column]="column"
      ></app-column>
      <div
        class="new-column-card w-[300px] flex items-center justify-center bg-skyred p-4 rounded-lg shadow-md cursor-pointer"
      >
        <button
          (click)="addNewColumn()"
          class="text-lg font-semibold text-MediumGray"
        >
          + New Column
        </button>
      </div>
    </div>
  </div>
</div>
