<div class="flex items-center mb-4">
  <span
    [ngClass]="{
      'bg-[#49C4E5]': column.name === 'Todo',
      'bg-[#8471F2]': column.name === 'Doing',
      'bg-[#67E2AE]': column.name === 'Done'
    }"
    class="w-3 h-3 rounded-full mr-2"
  ></span>
  <h3 class="text-lg font-semibold">
    {{ column.name }} ({{ column.tasks.length }})
  </h3>
</div>
<div class="column w-[300px] bg-skyred rounded-lg shadow-md">
  <div class="space-y-4">
    <div
      *ngFor="let task of column.tasks"
      class="task-card bg-white hover:text-MainPurple p-4 rounded-lg shadow-sm cursor-pointer"
      (click)="openTask(task)"
    >
      <h4 class="font-medium text-base">{{ task.title }}</h4>
      <p class="text-sm text-MediumGray">
        {{ countCompletedSubtasks(task.subtasks) }} of
        {{ task.subtasks.length }} subtasks completed
      </p>
    </div>
  </div>
</div>