<div class="w-[250px] h-[720px]  flex flex-col">
    <div class=" flex flex-row text-center justify-center gap-3 mr-[40px] p-[20px] items-center">
        <div>
            <img src="assets/knabanlogo.png" class="w-[24px] h-[25px]">
        </div>
        <div class="font-bold text-[28px]">kanban</div>
    </div>
  <p class="font-jakarta text-[12px] font-bold text-center pr-[75px] text-MediumGray py-[20px]">ALL BOARDS (3)</p>
    <div class="flex flex-col">
        <div class="flex flex-row items-center bg-MainPurple justify-center pr-[40px] gap-[13px] py-[10px] rounded-r-[20px]"><span><img src="assets/icon-board.svg"/></span><p class=" text-white text-[13px]">Platform Launch</p></div>
        <div class="flex flex-row items-center justify-center pr-[48px] gap-[13px] py-[10px]"><span><img src="assets/icon-board.svg"/></span><p class=" text-MediumGray text-[13px]">Marketing Plan</p></div>
        <div class="flex flex-row items-center justify-center pr-[80px] gap-[13px] py-[10px]"><span><img src="assets/icon-board.svg"/></span><p class=" text-MediumGray text-[13px]">Roadmap</p></div>
        <div class="flex flex-row items-center justify-center pr-[15px] gap-[13px] py-[10px]"><span><img src="assets/boardpurple.png"/></span><p class=" text-MediumGray text-[13px] text-MainPurple">+ Create New Board</p></div>
    </div>
    <div class="mt-[320px]">
    <div class=" flex flex-row items-center justify-center pr-[40px] gap-[14px] py-[10px]">
        <div class=""><span><img src="assets/icon-light-theme.svg" /></span></div>

        <div class="flex items-center w-[40px] h-[20px]">
            <input type="checkbox" id="toggle" class="hidden peer" />
            <label for="toggle" class="cursor-pointer">
              <div class="w-14 h-8 bg-gray-300 peer-checked:bg-blue-500 rounded-full p-1 flex items-center transition-colors duration-300">
                <div class="toggle-dot w-6 h-6 bg-white rounded-full shadow-md transform transition-transform duration-300 ease-in-out translate-x-0 peer-checked:translate-x-6">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600 peer-checked:text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                </div>
              </div>
            </label>
          </div>
          
          

          
        <div class="ml-[17px]"><span><img src="assets/icon-dark-theme.svg" /></span></div>
    </div>    
    <div class=" flex flex-row items-center pl-[15px] pr-[59px] gap-[14px] mt-[0px] py-[10px]">
        <div class=""><span><img src="assets/icon-hide-sidebar.svg" /></span></div>
        <p class="text-MediumGray text-[12px]">Hide Sidebar</p>
    </div>
    </div>
    
</div>